In [11]:
import pandas as pd
from sqlalchemy import create_engine

In [21]:
df = pd.read_csv("activities.csv")
df.head(10)

,activities,devicesBR,devicescount,usage,Rules,enforce,behaviour,rate,ratesleep
0,bath,tv,1,frequently,bedtime,yes,schoolperformance,10,good
1,music,smartphone,2,sometimes,wakeuptime,no,mood,9,good
2,sex,ipad_tablet,3,never,dinnertime,yes,behaviour,8,good
3,pray,videogame,4,frequently,textinbed,no,qualitylife,7,ok
4,read,computer,5,sometimes,onoff,yes,active,6,ok
5,exercise,laptop,6,never,homework_late,no,extralessons,5,bad
6,alcohol,mp3,7,frequently,musiclate,yes,phoneinbed,4,bad
7,spouse,musicgadgets,8,sometimes,gameslate,no,pets,3,bad
8,medication,Unknown,9,never,deviceslate,yes,lightingtemp,2,bad

In [22]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\praveena\anaconda3\envs\pythondata\lib\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [23]:
#  create database connection
connection_string = "postgres:Prav123@localhost:5432/sleepdb"
engine = create_engine(f'postgresql://{connection_string}')

In [24]:
# Confirm tables
engine.table_names()

['sleep']

In [25]:
df.to_sql(name='sleep', con=engine, if_exists='replace', index=True)

In [26]:
#Confirm data has been added by querying 
pd.read_sql_query('select * from sleep', con=engine)

,index,activities,devicesBR,devicescount,usage,Rules,enforce,behaviour,rate,ratesleep
0,0,bath,tv,1,frequently,bedtime,yes,schoolperformance,10,good
1,1,music,smartphone,2,sometimes,wakeuptime,no,mood,9,good
2,2,sex,ipad_tablet,3,never,dinnertime,yes,behaviour,8,good
3,3,pray,videogame,4,frequently,textinbed,no,qualitylife,7,ok
4,4,read,computer,5,sometimes,onoff,yes,active,6,ok
5,5,exercise,laptop,6,never,homework_late,no,extralessons,5,bad
6,6,alcohol,mp3,7,frequently,musiclate,yes,phoneinbed,4,bad
7,7,spouse,musicgadgets,8,sometimes,gameslate,no,pets,3,bad
8,8,medication,Unknown,9,never,deviceslate,yes,lightingtemp,2,bad

In [33]:
###Reflect Tables into SQLAlchemy ORM
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from scipy import stats

In [34]:
###read the data
df = pd.read_csv('activities.csv')
df.head()

,activities,devicesBR,devicescount,usage,Rules,enforce,behaviour,rate,ratesleep
0,bath,tv,1,frequently,bedtime,yes,schoolperformance,10,good
1,music,smartphone,2,sometimes,wakeuptime,no,mood,9,good
2,sex,ipad_tablet,3,never,dinnertime,yes,behaviour,8,good
3,pray,videogame,4,frequently,textinbed,no,qualitylife,7,ok
4,read,computer,5,sometimes,onoff,yes,active,6,ok

In [46]:
# Create Database and engine Connection
db_path = "sleepdb"
engine = create_engine(f"sqlite:///{db_path}")
conn = engine.connect()

In [49]:
# Query All Records in the the Database
db_path.create_all()

AttributeError: 'str' object has no attribute 'create_all'

In [40]:
##Create a "Metadata" Layer That Abstracts our SQL Database
##Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
Base.metadata.create_all(engine)

In [41]:
# Create a Session Object to Connect to DB
# ----------------------------------
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [28]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///sleep.sqlite")

In [29]:
 ###reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [30]:
# View all of the classes that automap found
Base.classes.keys()

[]